@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font: inherit;
}

html,
body {
      height: 100%;
}

img,
svg {
      display: block;
      max-width: 100%;
}

hr {
      border: none;
      height: 1px;
      background-color: var(--clr-text-question-active);
}

:root {
      --clr-card-bg: hsl(0, 0%, 100%);
      --clr-text-question: hsl(292, 42%, 14%);
      --clr-text-question-active: hsl(275, 100%, 97%);
      --clr-text-answer: hsl(292, 16%, 49%);

      --fw-regular: 400;
      --fw-semi-bold: 600;
      --fw-bold: 700;

      --fs-400: .875rem;
      --fs-600: 1rem;
      --fs-800: 2rem;
      --fs-900: 3rem;
}

body {
      display: grid;
      place-content: center;
      font-family: 'Work Sans', sans-serif;
      font-size: var(--fs-400);
      color: var(--clr-text-question);
      background: var(--clr-text-question-active) url(images/background-pattern-desktop.svg) no-repeat;
      background-size: contain;
}

.faq-card {
      display: grid;
      width: 33rem;
      gap: 1.5rem;
      background-color: var(--clr-card-bg);
      padding: 2rem;
      border-radius: 7px;
}

.flex-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.title {
      font-size: var(--fs-900);
      font-weight: var(--fw-bold);
      justify-content: start;
      gap: 1.25rem;
}

.star-icon {
      width: 2rem;
}

.grid-flow {
      display: grid;
      gap: 1rem;
}

.grid-flow[data-gap="large"] {
      gap: 1rem;
}

.question {
      font-size: var(--fs-600);
      font-weight: var(--fw-semi-bold);
}

.question p {
      max-width: 80%;
}

.answer p {
      color: var(--clr-text-answer);
      line-height: 1.4;
}

.answer {
      display: none;
      transition: display .3s ease-in-out;
}


@media (width < 660px) {
      body {
            background-image: url(images/background-pattern-mobile.svg);
      }

      .faq-card {
            max-width: 20rem;
            padding: 1.5rem;
            margin: 0 1.5rem;
            gap: 1rem;
      }
      
      .title {
            font-size: var(--fs-800);
            font-weight: var(--fw-bold);
            justify-content: start;
            gap: 1.5rem;
      }
      
      .star-icon {
            width: 1.5rem;
      }

      
      .grid-flow[data-gap="large"] {
            gap: 1.5rem;
      }

      
}
